#description {
    font-size: 1.8rem;
    color: black;
}

#myImage {
    border-radius: 50%;
    background-color: #bf99c6;
}

.img-fluid {
    max-width: 50vw;
    width: 60rem;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
}

h1,
h2 {
    font-family: "AmaticSC";
    color: #bf99c6;
}

.text {
    margin-right: 0;
}

@media (max-width: 580px) {
    .img-fluid {
        max-width: 300px !important;
    }

    #description {
        font-size: 1.5rem;
        margin-left: 4%;
    }
}

@media (max-width: 980px) {
    .text {
        margin-right: 10em;
    }
}