#description {
    font-size: 2em;
}

@media (max-width: 580px) {
    .img-fluid {
        max-width: 300px !important;
    }

    #myName {
        font-size: 12vw;
        margin-left: 2%;
    }

    #description {
        font-size: 5vw;
        margin-left: 4%;
    }
}

.img-fluid {
    max-width: 80%;
}

h1 {
    font-family: "AmaticSC";
    color: #ffe0fa;
    font-size: 8em;
}