body{
    padding: 0;
    margin: 0;
}

.my-thumbnail {min-width: 100px !important;}

#myName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-left: 0.6%;
}

#description{
    font-family: 'Times New Roman', Times, serif;
}