body {
    padding: 0;
    margin: 0;
    background-color: #bf99c6;
    color: white;
    overflow-x: hidden;
}

.nav-link {
    color: white !important;
    font-family: "Quicksand";
    font-size: 1.5em;
}

.navbar-brand {
    font-family: "AmaticSC";
    color: #ffe0fa;
    font-size: 2em;
}