html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    color: black;
    overflow-x: hidden;
    background-color: #ebe6ea;
}

.nav-link {
    color: white !important;
    font-family: "Quicksand";
    font-size: 1.5em;
}

.navbar-brand {
    font-family: "AmaticSC";
    color: #ffe0fa !important;
    font-size: 2em;
}

.navbar {
    background-color: #bf99c6;
}

#home {
    background-color: #ebe1ea;
}

#projects {
    background-color: #ebe1ea;
}

.progress {
    max-width: 200px;
    min-width: 200px;
}

@media screen and (max-width: 1000px) {

    .personalInfo,
    .mainText,
    .mainTitle,
    .certificate {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }

    .float-start {
        float: none !important;
    }
}

@media screen and (max-width: 770px) {
    .carouselText {
        height: 100px;
    }
}