#myName {
    color: #bf99c6;
    font-size: 2.5em;
    font-family: "AmaticSC";
}

#contactInfo {
    font-size: 15px;
}

.smallImage {
    width: 200px;
    height: auto;
    border-radius: 50%;
    background-color: lightgrey;
}

.line {
    height: 2.3px;
    width: 100%;
    background-color: #bf99c6;
    margin-bottom: 5px;
    margin-top: 5px;
}

.mainTitle {
    font-weight: bold;
    font-size: large;
    color: black;
}

.workplace {
    font-weight: bold;
    color: black;
}

.date {
    color: grey;
    /*font-weight: bold;*/
    font-size: 14px;
}

.mainText {
    width: 70%;
    color: darkslategray
}

.titleInfo {
    line-height: 100%;
}

.info {
    color: darkslategray;
}