#myName{
    color: #ffe0fa;
    font-size: 20px;
}

#contactInfo{
    font-size: 15px;
}

.smallImage{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.line{
    height: 2.3px;
    width: 100%;
    background-color: #ffe0fa;
    margin-bottom: 5px;
    margin-top: 5px;
}

.mainTitle{
    font-weight: bold;
    font-size: large;
}

.workplace{
    font-weight: bold;
}

.date{
    color: #eaeaea;
    /*font-weight: bold;*/
    font-size: 14px;
}

.mainText{
    width: 70%;
}